@using Microsoft.EntityFrameworkCore
@using RozkladJazdyBlazor.Data
@inject IDbContextFactory<PolregioContext> PolregioContextFactory;
@page "/test"

<h3>DatabaseTest</h3>

@if (@timetable is not null && @timetable.Count > 0)
{
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-light border-dark">
        <thead>
            <tr>
                <th scope="col">Stacja początkowa</th>
                <th scope="col">Godzina odjazdu</th>
                <th scope="col">Stacja końcowa</th>
                <th scope="col">Godzina przyjazdu</th>
                <th scope="col">Więcej informacji</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in @timetable)
            {
                <tr>
                    <td>@row.start_name</td>
                    <td>@row.start_departure_time</td>
                    <td>@row.end_name</td>
                    <td>@row.end_arrival_time</td>
                    <td>V</td>
                </tr>
            }

        </tbody>
    </table>
</div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ShowTimetable();    
    }
}
